body{
    background:#be94e3;
}

.token_page .panel-default{
    padding: 20%;
    margin-top: -27%;
}
.token_page .panel-body{
    padding: 15%;
    margin-bottom: -50%;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img{
    width:40%;
    margin-bottom:10%;
}
.btnSend{
    background: #A151E8;
    border:none;
}
.token_page .dropdown{
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.token_page .dropdown button{
    width: 100%;
}
.token_page .dropdown ul{
    width: 100%;
}