<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GyeCreation</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="/static/package/view.min.css?1586329003721" rel="stylesheet" type="text/css">
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="/static/package/view-resource.min.js?1586329003721"></script>

    <style>


            body,
            html { margin: 0; padding: 0; height: 100%;background: #F5ECFD !important; }


            .creation-form{

            margin-bottom: 100px;

			background: #DDC2F4;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}



      </style>
</head>

<body>


<div class="menu">
<div data-obj-id="KQkVA" data-obj-type="element" data-text-editable="true" class=""
     style="position: absolute; top: 0px; left: 60px; width: 378px; height: 60px;" data-link-to="page:ozl70">
    <div style="position: absolute; top: 0px; left: 0px; width: 60px; height: 60px;">
        <img src="images/unseok.png">
    </div>
    <div data-text-content="true" style="font-size: 39px; font-weight: bold; font-family: &quot;Comic Sans MS&quot;;
        color: rgb(130, 48, 185);" class="">Armagyeddon</div>
    <div data-obj-id="GhXVk" data-obj-type="element" data-text-editable="true" class=""
         style="position: absolute; top: 20px; left: 773px; width: 58px; height: 20px;" data-link-to="page:sl2Nh">
        <div data-text-content="true" style="font-size:16px;" class="">LOG IN</div></div>

    <div data-obj-id="GhXVk" data-obj-type="element" data-text-editable="true" class=""
         style="position: absolute; top: 20px; left: 870px; width: 70px; height: 20px;" data-link-to="page:sl2Nh">
        <div data-text-content="true" style="font-size:16px;" class="">SIGN UP</div></div>

    <div data-obj-id="GhXVk" data-obj-type="element" data-text-editable="true" class=""
         style="position: absolute; top: 20px; left: 970px; width: 70px; height: 20px;" data-link-to="page:sl2Nh">
        <div data-text-content="true" style="font-size:16px;" class="">GUIDE</div></div>

    <div data-obj-id="GhXVk" data-obj-type="element" data-text-editable="true" class=""
         style="position: absolute; top: 20px; left: 1060px; width: 70px; height: 20px;" data-link-to="page:sl2Nh">
        <div data-text-content="true" style="font-size:16px;" class="">MY PAGE</div></div>

</div>
</div>
<div class="creation-form" style="left: 300px; top: 180px; width: 600px; height: 400px;">

<div data-obj-id="KQkVA" data-obj-type="element" data-text-editable="true" class=""
     style="position: absolute; top: 80px; left: 200px; width: 500px; height: 60px;" data-link-to="page:ozl70">
    <div data-text-content="true" style="font-size: 30px; font-weight: bold; font-family: &quot;Comic Sans MS&quot;;
        color: rgb(130, 48, 185);" class=""> Armagyeddon GYE</div>
</div>

<div class="" style="position: absolute; top: 180px; left: 110px; width: 900px; height: 44px;">
    <label class="custom-control-label" for="customControlInline">GYE NAME</label>
</div>

<div style="position: absolute; top: 180px; left: 210px;">
    <input class="search_input" type="text" name="" placeholder="">

</div>

<div class="" style="position: absolute; top: 230px; left: 110px; width: 900px; height: 44px;">
    <label class="custom-control-label" for="customControlInline">GYE type</label>
</div>

<div class="container">
<div class="rdo-grp" style="position: absolute; top: 230px; left: 200px;">
    <input id="rdo1" type="radio" name="radio"/>
    <label for="rdo1"><span></span><span>낙찰계</span></label>
    <input id="rdo2" type="radio" name="radio"/>
    <label for="rdo2"><span></span><span>저축계</span></label>
    <input id="rdo3" type="radio" name="radio"/>
    <label for="rdo3"><span></span><span>친목계</span></label>
</div>
<div class="" style="position: absolute; top: 280px; left: 110px; width: 900px; height: 44px;">
    <label class="custom-control-label" for="customControlInline">Number of Person</label>
</div>
<div class="control-group control-group1" style="position: absolute; top: 280px; left: 260px;">
    <label class="control-label" for="selectbasic" style="height: 60px;">5</label>
    <div class="selectpicker" data-style="btn-primary" >
        <select id="selectbasic" name="selectbasic" class="input-xlarge">
            <option>5</option>
            <option>7</option>
            <option>9</option>
            <option>11</option>
            <option>13</option>
            <option>기타</option>
        </select>
    </div>
</div>
<div class="" style="position: absolute; top: 280px; left: 360px;">
    기타
    <input style="width: 60px;" class="search_input" type="text" name="" placeholder="   명" >
</div>

<div class="container-fluid  margin" style="position: absolute; top: 350px; left: 160px;  ">
        <button style="width: 130px;" href="https://www.behance.net/sakiran" target="_blank" class="themeBtn">SUBMIT</button>
</div>
<div class="container-fluid  margin" style="position: absolute; top: 350px; left: 350px;">
        <button style="width: 130px;" href="https://www.behance.net/sakiran" target="_blank" class="themeBtn">CANCLE</button>
</div>

</div>
</div>

</body>
</html>