<!DOCTYPE html>
<html lang="en">
<head>
        <title>Sign Up</title>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <link href="/static/package/view.min.css?1586329003721" rel="stylesheet" type="text/css">
        <script async="" src="//www.google-analytics.com/analytics.js"></script>
        <script src="/static/package/view-resource.min.js?1586329003721"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <style>
            body,
            html { margin: 0; padding: 0; height: 100%;background: #F5ECFD !important; }
        </style>
</head>

<body data-locale="ko" style="">

<div data-obj-id="KQkVA" data-obj-type="element" data-text-editable="true" class=""
     style="position: absolute; top: 0px; left: 60px; width: 378px; height: 60px;" data-link-to="page:ozl70">
        <div style="position: absolute; top: 0px; left: 0px; width: 60px; height: 60px;">
                <img src="../static/images/unseok.png">
        </div>
        <div data-text-content="true" style="font-size: 39px; font-weight: bold; font-family: &quot;Comic Sans MS&quot;;
        color: rgb(130, 48, 185);" class="">Armagyeddon</div>
        <div data-obj-id="GhXVk" data-obj-type="element" data-text-editable="true" class=""
             style="position: absolute; top: 20px; left: 773px; width: 58px; height: 20px;" data-link-to="page:sl2Nh">
                <div data-text-content="true" style="font-size:16px;" class="">LOG IN</div></div>

        <div data-obj-id="GhXVk" data-obj-type="element" data-text-editable="true" class=""
             style="position: absolute; top: 20px; left: 870px; width: 70px; height: 20px;" data-link-to="page:sl2Nh">
                <div data-text-content="true" style="font-size:16px;" class="">SIGN UP</div></div>

        <div data-obj-id="GhXVk" data-obj-type="element" data-text-editable="true" class=""
             style="position: absolute; top: 20px; left: 970px; width: 70px; height: 20px;" data-link-to="page:sl2Nh">
                <div data-text-content="true" style="font-size:16px;" class="">GUIDE</div></div>

        <div data-obj-id="GhXVk" data-obj-type="element" data-text-editable="true" class=""
             style="position: absolute; top: 20px; left: 1060px; width: 70px; height: 20px;" data-link-to="page:sl2Nh">
                <div data-text-content="true" style="font-size:16px;" class="">MY PAGE</div></div>

</div>

<div data-obj-id="KQkVA" data-obj-type="element" data-text-editable="true" class=""
     style="position: absolute; top: 190px; left: 300px; width: 500px; height: 60px;" data-link-to="page:ozl70">
        <div data-text-content="true" style="font-size: 30px; font-weight: bold; font-family: &quot;Comic Sans MS&quot;;
        color: rgb(130, 48, 185);" class=""> Armagyeddon SignUp</div>
</div>


<form>
<div class="" style="position: absolute; top: 244px; left: 306px; width: 900px; height: 44px;">
        <label class="custom-control-label" for="customControlInline">ID</label>
        <input type="text" style="color: rgb(94, 94, 94); font-weight: bold; font-size: 20px; width:100px "
               class="">
        <input type="checkbox">ID Check
</div>

<div class="" style="position: absolute; top: 310px; left: 306px; width: 900px; height: 44px;">

        <label class="custom-control-label" for="customControlInline">PassWord</label>
        <input type="text" style="color: rgb(94, 94, 94); font-weight: bold; font-size: 20px;" class="">
</div>

<div class="" style="position: absolute; top: 360px; left: 306px; width: 900px; height: 44px;">

        <label class="custom-control-label" for="customControlInline">PassWordConfirm</label>
        <input type="text" style="color: rgb(94, 94, 94); font-weight: bold; font-size: 20px;" class="">
</div>
<div class="" style="position: absolute; top: 450px; left: 330px; width: 900px; height: 44px;">
        <button type="button" name="button" style="width: 150px; height: 30px; font-size: 20px;" class="btn login_btn">Login</button>
</div>
        <div class="mt-4" style="position: absolute; top: 490px; left: 330px; width: 900px; height: 44px;">
                <div class="d-flex justify-content-center links">
                        Don't have an account? <a href="/sign-up" class="ml-2">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links">
                        <a href="#">Forgot your password?</a>
                </div>
        </div>


</form>

</body>
</html>